.articlelook{
    div.clearfix{
        background: #F0F0F0;
        .header{
            height: 60px;
            line-height: 60px;
            padding-right: 30px;
            
        }
        
    }
    .mr{
        margin-right: 30px;
    }
    .content{
        padding:0px 20px 0px 20px;
        border-radius:18px;
        background: #fff;
        margin-bottom:20px;
        .lh40{
            line-height: 40px;
        }
    }
    .el-dialog{
        background:#000!important;
    }
    .el-dialog__title{
        color:#fff!important;
    }
}
